*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-body:#222;
    --bg-alt: #010302;
    --text-color:#f5f2f5;

    --primary-color:rgb(23, 29, 210);
    --header-height:60px;
}

html{
    scroll-behavior: smooth;
    background-color: var(--bg-body);
    color: var(--text-color);
}

.navigation{
    position: fixed;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: var(--bg-alt);
    padding:  0px 50px;
    z-index: 100; 
}

.logo{
    text-decoration: none;
    font-size: 28px;
    color: var(--text-color);
    cursor: pointer;
}
.logo span{
    color: var(--primary-color);
    width: 20px;
    height: 20px;
}

.btn-close{
    display: none;
}
.navigation ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
    margin: 10px 20px;

}

.navigation ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 25px;
}

.navigation ul li a:hover{
    color: var(--primary-color);
}
.list-item:hover{
    color: var(--primary-color);
    transition: all 0.3s;
}

.actions{
    padding: 20px 0px; 
}

.active{
    color: var(--primary-color);
}
.actions button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    font-size: 30px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    
}
.btn-menu{
    display: none;
}

@media (max-width: 768px){

    
    .nav{
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 80%;
    height: calc(100vh - var(--header-height));
    padding: 60px 20px 40px;
    background-color: #333;
    transition: left .5s ease-in-out;
    }
    ul{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    ul li{
        margin-bottom: 20px;
        cursor: pointer;
        text-transform: capitalize;
        font-size: 20px;
    }
    .btn-close{
        font-size: 30px;
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        top: 60px;
        left: 80%;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        color: var(--text-color);
    }

    .show_menu{
        left: 0px;
    }
   
    .btn-menu{
       display: contents;
       top:20px;
       right: 20px;
    }
}
.section{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    z-index: 2;
}

.section.title{
font-size: 28px;
text-align: center;
margin: 20px 0px;
}
.container{
    margin: 30px 10px 15px;
    display: flex;
    width: 100vw;
    height:auto ;
    display: flex;
    flex-wrap: wrap;
}

.main{
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*<--! Hero  skills start -->*/
.hero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    gap: 10px
}
.hero span{
    color: var(--primary-color);
    display: inline;
}

.hero p{
    display: inline-block;
    text-align: center;
}
/*<--! Hero  skills End -->*/
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-information{
    max-width: 500px;
    padding: 10px 40px;
}

.about-img{
    max-width: calc(100vw-500px);
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 30px;
    margin-left: 30px;

    animation-name: moveY;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes moveY{
    from{
        transform:translateY(0px)
    }
    to{
        transform:translateY(15px)
    }
}
/*<--! Tech  skills start -->*/

.skills-tech{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.skill{
    width: 150px;
    height: 200px;
    background-color:var(--bg-alt);
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    color: var(--primary-color);
    transition: all .05s;
    border-radius: 10px;
}
.skill:hover{
    transform: scale(1.05);
    color: var(--text-color);
}
.skill img{
    width: 100%;
    height:auto;     
}
/*<--! Tech  skills End -->*/


/*<--! Soft skills start -->*/
.soft-skills ul {
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.soft-skills ul li  {
    display: flex;
    align-content: center;
    width: 90vw;
    height: 7vh;   
    border-radius: 50px;
   
}

.soft-skills svg{
    width: 100%;
    height: 100%;
    color: var(--primary-color);
}

.soft-skills h3{
    font-size: 7vh;
}

.full-screen{
    height: 100vh;
}

.others-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}


/*---------------------- Projets  Start------------------------------------*/

.projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.card{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: minmax(100%,1fr);
    grid-template-areas: "cards";
    overflow: hidden;
    border-radius: 10px;
    border:5px solid red;
  }
  
  .card img{
    grid-area: cards;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card figcaption{
    grid-area: cards;
    background: #000000f0;
    transform: translateY(calc(100% - 4rem));
    transition: transform 600ms;
    padding: 0px 20px 20px 20px;
  }
  
  .card h3{
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .card ul li{
    display: inline-flex;
    background-color: var(--primary-color);
    margin-top: 20px;
    padding: 5px 7px;
    border-radius: 5px;
  }
  
  .card a{
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #f5f2f5;
    background-color: var(--primary-color);
    text-align: center;
  }
  .card:hover figcaption{
    transform: none;
  }
  