@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}
:root{
    --bg-body:#222;
    --bg-alt: #050506;
    --text-color:#f5f2f5;

    --primary-color:#3014EE;
    --header-height:70px;
}

html{
    scroll-behavior: smooth;
    background-color: var(--bg-body);
    color: var(--text-color);
}

.navigation{
    position: fixed;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: var(--bg-alt);
    padding:  0px 50px;
    z-index: 100; 
}

.logo{
    text-decoration: none;
    font-size: 40px;
    color: var(--text-color);
    cursor: pointer;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 500;
    font-style: normal;
}

  
.logo span{
    color: var(--primary-color);
    width: 20px;
    height: 20px;
}

.btn-close{
    display: none;
}
.navigation ul{
    display: flex;
    width: 100%;
}
ul li{
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
    margin: 10px 20px;
    height: 100%;
}

.navigation ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
    height: 100%;
    padding: 7px 3px;
}

.navigation ul li a:hover{
    color: var(--primary-color);
}
.list-item:hover{
    color: var(--primary-color);
    transition: all 0.3s;
}

.actions{
    padding: 20px 0px; 
}

.active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    /*border-top: 2px solid var(--primary-color);*/
}
.actions button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    font-size: 30px;
    color: var(--text-color);
    border: none;
    cursor: pointer; 
}

.btn-menu{
    display: none;
}


.section{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    z-index: 2;
}

.section-title{
font-size: 5vw;
text-align: center;
margin: 20px 0px;
}
.container{
    margin: 30px 10px 15px;
    display: flex;
    width: 100vw;
    height:auto ;
    display: flex;
    flex-wrap: wrap;
}

.main{
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*<--! Hero  skills start -->*/
.hero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    gap: 10px
}
.hero span{
    color: var(--primary-color);
}


/*<--! Hero  skills End -->*/
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-information{
    max-width: clamp(500px ,60%,100%);
    height: inherit;
    padding: 10px 40px;
    display: block;
}
.about-information h2{
margin-bottom: 20px;
font-size: 3vw;
}

p strong{
    color: #06aef1;
}
.about-information p{
    line-height: 1.4rem;
    font-size: 1.7vw;
    margin-bottom: 40px;
}

#download-button{
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    padding: 12px 22px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 30px;
    margin-left: 30px;

    animation-name: moveY;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes moveY{
    from{
        transform:translateY(0px);
    
    }
    to{
        transform:translateY(25px);
        
    }
}
/*<--! Tech  skills start -->*/

.skills-tech{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.skill{
    width: 150px;
    height: 200px;
    background-color:var(--bg-alt);
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    color: var(--primary-color);
    transition: all .05s;
    border-radius: 10px;
}
.skill:hover{
    transform: scale(1.05);
    color: var(--text-color);
}
.skill img{
    width: 100%;
    height:auto;     
}
/*<--! Tech  skills End -->*/


/*<--! Soft skills start -->*/
.soft-skills ul {
 display: flex;
 flex-direction: column;
 gap: 5px;
 height: auto;
}

.soft-skills ul li  {
    display: flex;
    align-content: center;
    width: 90vw;
    height: 7vh;   
    border-radius: 50px;
   
}

.soft-skills svg{
    width: 100%;
    height: 100%;
    fill: var(--primary-color);
    border:none;
}

.soft-skills h3{
    font-size: 7vh;
}

.full-screen{
    height: 100vh;
}

.others-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}


/*---------------------- Projets  Start------------------------------------*/

.projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.card{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: minmax(100%,1fr);
    grid-template-areas: "cards";
    overflow: hidden;
    border-radius: 10px;
    border:5px solid red;
  }
  
  .card img{
    grid-area: cards;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card figcaption{
    grid-area: cards;
    position: relative;
    background: #000000f0;
    transform: translateY(calc(100% - 4rem));
    transition: transform 600ms;
    padding: 0px 20px 20px 20px;
  }
  
  .card h3{
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .card ul{
    display: flex;
  }
  .card ul li{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    margin-top: 20px;
    padding: 5px 7px;
    border-radius: 5px;
  }
  
  .card figcaption a{
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: var(--primary-color);
    background-color: transparent;
    text-align: center;
  }

  .card figcaption a:hover{
    color: #f1f1f1;
  }

  .link1{
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .link2{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .card:hover figcaption{
    transform: none;
  }

  .project{
    border:none;
  }
  

@media (max-width: 768px){

    
    .nav{
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 80%;
    height: calc(100vh - var(--header-height));
    padding: 60px 20px 40px;
    background-color: #333;
    transition: left .5s ease-in-out;
    }
    ul{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    ul li{
        margin-bottom: 20px;
        cursor: pointer;
        text-transform: capitalize;
        font-size: 20px;
    }
    .btn-close{
        font-size: 30px;
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        top: 60px;
        left: 80%;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        color: var(--text-color);
    }

     .show-menu{
        position: fixed;
        top: var(--header-height);
        left: 0%;
        width: 80%;
        height: calc(100vh - var(--header-height));
        padding: 60px 20px 40px;
        background-color: #333; 
        transition: left .5s ease-in-out;
        /*<--!rgba(237, 237, 237,.5)-->*/
    }
    
    .btn-menu{
       display: contents;
       top:20px;
       right: 20px;
    }
    .about-information h2{
        font-size: 10vw;
    }
    .about-information p{
        margin-bottom: 20px;
        font-size: 5vw;
        }

    .card figcaption ul li{
        display: none;
    }
        
}
@media (max-width: 480px){
    body{
        width: 100VW;
    }

    .section{
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .section-title{
        font-size: 15vw;
    }
    .soft-skills ul li h3{
        display: flex;
        align-content: center;
        font-size: 9vw; 
    }
}